[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
python-dateutil = ">=2.8.2"
requests = ">=2.31.0"

[dev-packages]
pytest-watch = "*"
pytest = "*"

[requires]
python_version = "3.11"
